<footer>
    <% if (!user.login) { %>
      <div class="hasInBase" style="justify-content: center;">
          <div class="selectDiv" style="justify-self: center;">
            <select class="selectFromDb custom-select my-1 mr-sm-2">
                <% if (Number(countriesLength.substr(countriesLength.length-1, 1)) === 1) { %>
                  <option selected>Всего в базе <%=countriesLength%> страна</option>
                <% } else if (Number(countriesLength.substr(countriesLength.length-1, 1)) > 1 && Number(countriesLength.substr(countriesLength.length-1, 1)) < 5) {%>
                  <option selected>Всего в базе <%=countriesLength%> страны</option>
                  <%} else {%>
                    <option selected>Всего в базе <%=countriesLength%> стран</option>
                    <%}%>
              <% recordsFromDb.forEach(function(el){ %>
                <option value="<%=el.country%>"><%=el.country%></option>
              <% }); %>
            </select>
          </div>
          <span style="width:30px;"></span>
        </div>
    <% } else {%>
      <div class="hasInBase" style="justify-content: space-between;">
            <div class="greeting">
              Привет, <%= `${user.login.substr(0,1).toUpperCase()}${user.login.substr(1,user.login.length-1 )}` %>!
              <form class="logout" method="GET">
                  <a href="/logout">Выйти</a>
              </form>
            </div>
            <div class="selectDiv">
            <select class="selectFromDb custom-select my-1 mr-sm-2">
                <% if (Number(countriesLength.substr(countriesLength.length-1, 1)) === 1) { %>
                  <option selected>Всего в базе <%=countriesLength%> страна</option>
                <% } else if (Number(countriesLength.substr(countriesLength.length-1, 1)) > 1 && Number(countriesLength.substr(countriesLength.length-1, 1)) < 5) {%>
                  <option selected>Всего в базе <%=countriesLength%> страны</option>
                  <%} else {%>
                    <option selected>Всего в базе <%=countriesLength%> стран</option>
                    <%}%>
              <% recordsFromDb.forEach(function(el){ %>
                <option value="<%=el.country%>"><%=el.country%></option>
              <% }); %>
            </select>
          </div>
          <div class="create" style="width:250px;display: flex;justify-content: flex-end;">
              <a href="/create" data-toggle="tooltip" title="Создайте свою запись!">
                <img src="/images/create.png">
              </a>
          </div>
        </div>
    
    <% } %>
  
</footer>

<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/scripts.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/javascripts/jquery.min.js"></script>

</body>
</html>


